Resources:
  AWSEBRDSDBSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: sg-0b56560ec6d2b66ea  # RDS security group ID
      IpProtocol: tcp
      ToPort: 3306  # MySQL port
      FromPort: 3306  # MySQL port
      SourceSecurityGroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}  # Elastic Beanstalk security group ID

