html { font-family: sans-serif; background: #eee; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: white; }
h1 { font-family: serif; color: #ffffff; margin: 1rem 0; }
h2 { font-family: serif; color: #1877f2; margin: 1rem 0; }
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: #1877f2; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; color: white; }
nav ul { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; color: white; }
.loading-indicator {
  width: 100px; /* Adjust the width as needed */
  height: 2px; /* Adjust the height as needed */
  background-color: blue;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  animation: loading 1s infinite alternate; /* Adjust animation duration as needed */
  display: none; /* Hide the loading indicator by default */
}

@keyframes loading {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}


content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }
/* Style for the channel information row */
#channelData {
    display: none;
    align-items: flex-start;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .thumbnail {
    margin-right: 20px;
  }
  
  /* Remove the border from the image */
  .thumbnail img {
    border: none;
  }
  
  .info {
    display: flex;
    flex-direction: column;
  }
  
  .title-info, .stats-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .channel-info {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #channelData.active {
    display: flex; /* Display the container when it has the 'active' class */
  }

  /* Add grid lines and padding to the table */
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #f2f2f2; /* Header background color */
  }

