<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Channel Data</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            background-color: #f2f2f2;
            padding: 8px;
            text-align: left;
        }

        td {
            padding: 8px;
            border-bottom: 1px solid #ccc;
        }

        td img {
            max-width: 100px;
            height: auto;
        }
    </style>
</head>
<body>

    <!-- Display the channel thumbnail -->
    <br/>
    <img src="{{ thumbnail_url }}" alt="Channel Thumbnail">
    
    <!-- Display the total views -->
    <p>Total views: {{ total_views }}</p>
    <p>Total videos: {{ total_videos }}</p>
    <p>Average views per video: {{ average_views_per_video }}</p>
    <!--Table of vidoe data -->
    <h3>Top all-time videos</h3>
    <table>
        <thead>
            <tr>
                <th>Thumbnail</th>
                <th>Title</th>
                <th>Views</th>
                <th>Duration</th>
                <th>Published Date</th>
            </tr>
        </thead>
        <tbody>
            {% for video in channel_data %}  
                <tr>
                    <td>
                        <img src="http://img.youtube.com/vi_webp/{{ video[4] }}/default.webp" alt="Video Thumbnail">
                    </td>
                    <td>{{ video[0] }}</td>
                    <td>{{ video[1] }}</td>
                    <td>{{ video[2] }}</td>
                    <td>{{ video[3] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Current most-viewed videos</h3>

</body>
</html>
