<!-- templates/search_channel.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Search YouTube Channel</title>
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    <h1>Search for a YouTube Channel</h1>
    <form method="POST" action="/search">
        <label for="channel_query">Enter Channel Name or ID:</label>
        <input type="text" name="channel_query" id="channel_query" required>
        <input type="submit" value="Search">
    </form>

    {% if channel_found %}
    <div>
        <h2>Channel Found:</h2>
        <img src="{{ thumbnail_uri }}" alt="Channel icon">
        <p>Name: {{ channel_name }}</p>
        <p>Channel ID: {{ channel_id }}</p>
        <form method="POST" action="/confirm">
            <input type="hidden" name="channel_id" value="{{ channel_id }}">
            <input type="hidden" name="channel_name" value="{{ channel_name }}">
            <input type="hidden" name="thumbnail_uri" value ="{{ thumbnail_uri }}">
            <input type="submit" value="Confirm Track">
        </form>
    </div>
    {% endif %}
    {% endblock %}
</body>
</html>
