{% extends 'base.html' %}

{% block header %}
  <h2>VidSignal: Your source for competitive-analysis on the YouTube ecosystem</h2>
{% endblock %}

{% block content %}
<div class="container text-center my-5">
  <h2 class="mb-4">Discover the Power of Analytics</h2>
  <p class="lead">Unlock insights and make data-driven decisions with our YouTube channel and video analytics tool.</p>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Key Features</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Track video posting frequency</li>
            <li class="list-group-item">Identify top-performing videos</li>
            <li class="list-group-item">Analyze historical view trends</li>
            <li class="list-group-item">Examine video length and performance</li>
            <li class="list-group-item">Explore current and trending topics</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Built With</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Python, Flask, Pandas</li>
            <li class="list-group-item">MySQL Database</li>
            <li class="list-group-item">HTML, JavaScript, CSS</li>
            <li class="list-group-item">Google API Integration</li>
            <li class="list-group-item">AWS Services: RDS, EC2, ElasticBeanstalk</li>
            <li class="list-group-item">(In an) Ubuntu Environment</li>
            <li class="list-group-item">Crontab</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Ready to Get Started?</h4>
          <p class="card-text">Explore channel analytics.</p>
          <a href="{{ url_for('dashboard.dashboard') }}" class="btn btn-primary">Check out the Dashboard</a>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
