{% extends 'base.html' %}

{% block header %}
  <h2>VidSignal: Your source for competitive-analysis on YouTube</h2>
{% endblock %}

{% block content %}
<div>
  <p>Welcome to VidSignal, your destination for competitive-analysis in the YouTube eco-system</p>
  {% if logged_in %}
  <p>Go to <a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a>.</p>
  {% endif %}
  {% if not logged_in %}
  <p>Sign up or log in to start tracking channels and accessing premium features.</p>
  <p>Not a member yet? <a href="{{ url_for('auth.register') }}">Register now</a>!</p>
  <p>Already have an account? <a href="{{ url_for('auth.login') }}">Log in</a>!</p>
  <p>Not ready to sign up? <a href="{{ url_for('dashboard.dashboard') }}">Check out</a> the trial version of our analytics platform!</p>
  {% endif %}
</div>
{% endblock %}
