{% extends 'base.html' %}

{% block header %}
  <h1 style="color:#1877f2">{% block title %}Channel Analytics{% endblock %}</h1>
  <!-- Include the Plotly JavaScript library -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
   <!-- Jquery -->
   <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
{% endblock %} 

{% block content %}
<h2>Select a channel</h2>
<select id="channelSelect">
  <option value="" disabled selected>Channel List</option>
  {% for channel in data['channels'] %}
  <option value="{{ channel['channel_id'] }}"
          data-channel-name="{{ channel['name'] }}"
          data-published-date="{{ channel['published_date'] }}"
          data-thumbnail-uri="{{ channel['thumbnail_uri'] }}">
      {{ channel.name }}
  </option>
  {% endfor %}
</select>

<h2 id="channelDataTitle" style="display: none">Channel Data</h2>
<div id="channelData">
  <div class="thumbnail">
    <img class="channel-info" id="thumbnailImage" src="" alt="Channel Thumbnail" style="max-width: 300px;">
  </div>
  <div class="info">
    <div class="title-info">
      <div class="channel-info">
        <strong>Channel:</strong> <span id="channelName"></span>
      </div>
      <div class="channel-info">
        <strong>Published date:</strong> <span id="publishedDate"></span>
      </div>
      <div class="channel-info">
        <strong>Lifetime views:</strong> <span id="totalViews"></span>
      </div>
    </div>
    <div class="stats-info">
      <div class="channel-info">
        <strong>Total videos:</strong> <span id="totalVideos"></span>
      </div>
      <div class="channel-info">
        <strong>Average views per video:</strong> <span id="averageViews"></span>
      </div>
      <div class="channel-info">
        <strong>Current Daily Views:</strong> <span id="totalDailyViews"></span>
      </div>
    </div>
  </div>
</div>

<!-- Container for the plots -->
<div id="plotContainer">
  <!-- Upload frequency plot -->
  <div id="uploadFrequencyPlot" class="chart"></div>

  <!-- Average views by published year plot -->
  <div id="averageViewByYearPlot" class="chart"></div>
</div>

<!--             Top Video placeholders                     -->
<div id="topVideos" style="display:none">
  <h2>Hot videos</h2>
  <!-- Top 10 Realtime videos  display-->
  <table id="topRealtime">
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th>Title</th>
        <th>Published date</th>
        <th>Recent daily views</th>
        <th>Total Views</th>
      </tr>
    </thead>
    <tbody>
      <!-- Here, dynamically add rows for each video -->
    </tbody>
  </table>

  <!-- Top 10 All-Time videos  display-->
  <h2>All-time most popular videos</h2>
  <table id="topAlltime">
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th>Title</th>
        <th>Published date</th>
        <th>Recent daily views</th>
        <th>Total Views</th>
      </tr>
    </thead>
    <tbody>
      <!-- Here, dynamically add rows for each video -->
    </tbody>
  </table>

  <h2>Recent uploads</h2>
  <table id="mostRecent">
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th>Title</th>
        <th>Published date</th>
        <th>Recent daily views</th>
        <th>Total Views</th>
      </tr>
    </thead>
    <tbody>
      <!-- Here, dynamically add rows for each video -->
    </tbody>
  </table>
</div>

<script>
  var channelInfoElements = document.querySelectorAll(".channel-info");
  channelInfoElements.forEach(function (element) {
      element.style.display = "none";
  });
  var channelSelect = document.getElementById("channelSelect");
  var channelDataTitle = document.getElementById("channelDataTitle");
  var totalVideos;
  var totalViews;
  var averageViews;
  // Add the listener 
  channelSelect.addEventListener('change', function () {
      var selectedChannel = channelSelect.value;
  
      channelInfoElements.forEach(function (element) {
          element.style.display = "block";
      });    
      // get the data   
      fetch('/dashboard/' + String(selectedChannel), {
          method: 'GET',
      })

          .then(response => response.json())

          .then(data => {
              var videos = data.realtime;
              // Data for plotting frequency
              var months = data.upload_frequency.map(entry => {
                  // Parse the published_date as a Date object
                  const date = new Date(entry.published_date);
  
                  // Create a formatted string in "MM-YYYY" format
                  const formattedDate = `${(date.getMonth() + 1).toString().padStart(2, '0')}-${date.getFullYear()}`;
  
                  return formattedDate;
              });
              // Create a trace for the time series plot
              var uploadCounts = data.upload_frequency.map(entry => entry.uploads);
              var frequency_plot_data = {
                  x: months,
                  y: uploadCounts,
                  mode: 'lines+markers',
                  type: 'scatter',
              };
  
              // Create the layout for the plot
              var layout = {
                  title: 'Video Upload Frequency Over Time',
                  font: {
                      color: '#1877f2'
                  },
                  xaxis: {
                      title: 'Month-Year',
                      tickangle: -45, // Rotate x-axis labels for readability
                  },
                  yaxis: {
                      title: 'Number of Videos',
                  },
              };
              const config = {
                  displayModeBar: false, // this is the line that hides the bar.
              };
              // Create the plot in the specified div element
              Plotly.newPlot('uploadFrequencyPlot', [frequency_plot_data], layout, config);
              // Create barplot of views by upload year 
              var viewCounts = data.average_views.map(entry => entry.average_views);
              var year = data.average_views.map(entry => {
                  // Parse the published_date as a Date object
                  const date = new Date(entry.publication_year);
  
                  // Create a formatted string in "MM-YYYY" format
                  const year = date.getFullYear();
  
                  return year;
              });
              var view_plot_data = {
                  x: year,
                  y: viewCounts,
                  type: 'bar',
                  orientation: 'v'
              }
              var view_layout = {
                  title: 'Average Video Views by Published Year',
                  font: {
                      color: '#1877f2'
                  },
                  xaxis: {
                      title: 'Year',
                  },
                  yaxis: {
                      title: 'Average Views',
                  },
              };
              Plotly.newPlot('averageViewByYearPlot', [view_plot_data], view_layout, config);
              // Calculate data for top of dasbhoard
              totalVideos = videos.length;
              totalViews = videos.reduce((total, video) => total + video.views, 0);
              totalDailyViews = videos.reduce((total, video) => total + video.views_per_day, 0);
              averageViews = totalViews / totalVideos;
              // Round the result down to the nearest integer
              averageViews = Math.floor(averageViews);
              totalDailyViews = Math.floor(totalDailyViews);
  
              var totalDailyViewsElement = document.getElementById('totalDailyViews');
              totalDailyViewsElement.textContent = totalDailyViews.toLocaleString();
              // Create Top Video Table ---------------------------------------------------------------------------------------------
              var topVideosDiv = document.getElementById('topVideos');
              // Sort and populate each table with the corresponding data
              populateAndSortTable('topRealtime', videos, 'views_per_day');
              populateAndSortTable('topAlltime', videos, 'views');
              populateAndSortTable('mostRecent', videos, 'published_date');

              // Make the tables visible
              $('#topVideos').css('display', 'block');
              //------------------------------END top video table creation ------------------------------------------
              displayChannelData();
  
          })
          .catch(error => console.error(error));
          loadingElement.style.display = "none";
  
  });
  
  /// this handles showing channel data that comes in
  function displayChannelData() {
      var channelDataDiv = document.getElementById("channelData");
      var channelSelect = document.getElementById("channelSelect");
      var selectedOption = channelSelect.options[channelSelect.selectedIndex];
      var channelNameElement = document.getElementById("channelName");
      var publishedDateElement = document.getElementById("publishedDate");
      var thumbnailImageElement = document.getElementById("thumbnailImage");
      var totalViewsElement = document.getElementById("totalViews");
      var totalVideosElement = document.getElementById("totalVideos");
      var averageViewsElement = document.getElementById("averageViews");
      // Get data from the selected option's data attributes
      var channelName = selectedOption.getAttribute("data-channel-name");
      var publishedDate = selectedOption.getAttribute("data-published-date");
      var thumbnailUri = selectedOption.getAttribute("data-thumbnail-uri");
  
      // Update the placeholders with the selected channel's data
      channelNameElement.textContent = channelName;
      publishedDateElement.textContent = publishedDate;
      thumbnailImageElement.src = thumbnailUri;
      totalVideosElement.textContent = totalVideos.toLocaleString();
      totalViewsElement.textContent = totalViews.toLocaleString();
      averageViewsElement.textContent = averageViews.toLocaleString();
  
  
      // Show the 'Channel Data' element
      channelDataTitle.style.display = 'block';
      channelData.style.display = 'block';
  }
  
  function populateAndSortTable(tableId, data, sortColumn) {
    var table = $('#' + tableId);
    table.find('tbody').empty(); //clear out existing rows 
    // Sort based on the specified column
    data.sort(function (a, b) {
      if (sortColumn === 'published_date') {
          // If sorting by date, convert the values to Date objects
          var dateA = new Date(a[sortColumn]);
          var dateB = new Date(b[sortColumn]);
          return dateB - dateA; // Descending order
      } else {
          // For numeric columns, directly compare the values
          return b[sortColumn] - a[sortColumn]; // Descending order
      }
    });

    data.slice(0, 10).forEach(function (video) {
      var row = $("<tr>");
      row.append(`<td><img class="video-thumbnail" src="https://img.youtube.com/vi_webp/${video.video_id}/default.webp" alt="Video Thumbnail" style="width: 80px; height: 60px"></td>`);
      row.append(`<td><a href="https://www.youtube.com/watch?v=${video.video_id}" target="_blank">${video.title}</a></td>`);
      row.append(`<td>${new Date(video.published_date).toISOString().split('T')[0]}</td>`);
      row.append(`<td>${Math.round(video.views_per_day).toLocaleString()}</td>`);
      row.append(`<td>${Math.round(video.views).toLocaleString()}</td>`);

      table.find('tbody').append(row);
    });
  }


</script>
{% endblock %}

