{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Analytics{% endblock %}</h1>
  <!-- Include the Plotly JavaScript library -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <h2>Welcome - {% if logged_in %}{{g.user.username}}{% else %}Guest{% endif %}</h2>
{% endblock %} 

{% block content %}
<h1>Select a channel</h1>
<select id="channelSelect">
    {% for channel in data['channels'] %}
    <option value="{{ channel['channel_id'] }}">{{channel.channel_name}}</option>
    {% endfor %}
</select>

<script>
   var channelSelect = document.getElementById("channelSelect");
   // Add the listener 
   channelSelect.addEventListener('change', function() {
       var selectedChannel = channelSelect.value;
       
       // get the data
       fetch('/dashboard/' + selectedChannel, {
        method: 'GET',
       })
       .then(response => response.json())
       .then(data => {
          console.log(data);
       })
       .catch(error => console.error(error));

   });
   
</script>
{% endblock %}

