{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Analytics{% endblock %}</h1>
  <!-- Include the Plotly JavaScript library -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %} 

{% block content %}
<div id="bar-chart"></div>
  <script>
    var data = {{ data | tojson | safe }};
    var trace1 = {
        x: data.map(d => d.Fruit),
        y: data.map(d => d.Amount),
        type: 'bar',
        marker: {
            color: data.map(d => d.Color),
        },
    };
    
    var layout = {
        title: 'Fruit Amount by City',
        xaxis: {
            title: 'Fruit'
        },
        yaxis: {
            title: 'Amount'
        }
    };
    
    var plotData = [trace1];
    Plotly.newPlot('bar-chart', plotData, layout);
  </script>

{% endblock %}


